<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzics.common.dao.DzToolGroupsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dzics.common.model.entity.DzToolGroups">
        <id column="tool_groups_id" property="toolGroupsId"/>
        <result column="group_no" property="groupNo"/>
        <result column="org_code" property="orgCode"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tool_groups_id, group_no, org_code, create_by, create_time, update_by, update_time
    </sql>
    <select id="getToolGroupsList" resultType="com.dzics.common.model.entity.DzToolGroups">
        select * from ( select
        gro.tool_groups_id as toolGroupsId,
        gro.group_no as groupNo,
        (
        select COUNT(tool.id)
        from dz_tool_info tool
        where tool.tool_groups_id=gro.tool_groups_id
        ) as toolSum,
        gro.create_time as createTime
        from dz_tool_groups gro
        where 1=1
        <if test="orgCode!=null">
            and gro.org_code=#{orgCode}
        </if>
        <if test="groupNo!=null and groupNo!=''">
            and gro.group_no=#{groupNo}
        </if>
        ) as temp
        <if test="type != null and type != '' ">
            ORDER BY
            temp.${field} ${type}
        </if>
    </select>

</mapper>
